body{
    margin: 0;
    padding: 0;
    background-color: rgba(238, 255, 215, 0.836);
}

.item{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans Condensed', sans-serif;
}
#myinput{
    font-family: cursive;
    font-size: 1.5vw;
    display: block;
    float: left;
    margin: 0 0.5vw;
    background-color: #91ffe136;
    border: 0;
    border-radius: 5px;
    height: 2vw;
    width: 70%;
}
#infoinput{
    font-family: cursive;
    font-size: 1.5vw;
    display: block;
    margin: 0 1vw;
    background-color: #91ffe136;
    border: 0;
    border-radius: 5px;
    height: 2vw;
}

@keyframes MyAnimation1
{
    from { top: 10vh; opacity: 1;}
    to { top: 0; opacity: 0;}
}


#message{

    border: 0;
    border-radius: 5px;
    position: fixed;
    width: fit-content;
    z-index: 5;
    margin: 0 auto;
    opacity: 0;
    justify-content: center;
    text-align: center;
    align-self: center;

}

.message_error{
    background-color: rgba(255, 0, 0, 0.562);
    animation: MyAnimation1 3s;
    animation-timing-function: ease-in;
}
.message_success{
    background-color: rgba(21, 255, 0, 0.514);
    animation: MyAnimation1 3s;
    animation-timing-function: ease-in;
}

.infodiv{
    display: none;
}
.content{
    margin: 0;
    border: 1px solid black;
    background-color: rgba(191, 233, 135, 0.548);
    cursor: pointer;
    width: 45%;
    text-align: center;

}
.content:hover{
    background-color: gainsboro;
    transform: scale(1.1);
    transition-duration: 200ms;
}

.info{
    margin: 0;
    border: 1px solid black;
    background-color: gainsboro;
    width: 45%;
    text-align: center;

}
.num{
    width: 4%;
    }
#forma{
    background-color: azure;
    font-size: 1.5vw;
    font-family: 'Playfair Display', serif;
    padding: 5px;
}
.buttonTop{
    background-color: beige;
    cursor: pointer;
    border-radius: 5px;
    margin: 1px;
}
.flag{
    width: 1.25vw;
    margin: 0;
    top: 4px;
    position: relative;;
}
.title{
    width: 2vw;
    margin: 0;
    top: 4px;
    position: relative;;
}
span:hover{
    background-color: gainsboro;
    z-index: 2;
    transform: scale(1.1);
    transition-duration: 200ms;
}
#main{
    margin: 2vh 0 0 0;
    clear: both;
    font-size: 1.5vw;
}
.choosenitem{
    background-color: rgb(172, 172, 172);
    transition-duration: 500ms;

}
#title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    float: left;
    font-size: 1.5vw;
}
.buttoncontainer{
    display: flex;
    flex-flow: column;
    width: fit-content;
    display: inline-flex;
}
#inputnode{
    display: none;
}
#inputnodediv{
    background-color: gold;
}
.right{
    display: inline-flex;
}
textarea{
    background-color: #91ffe136;
    border: 0;
    border-radius: 5px;
    resize: none;
    height: 7.2vw;
    width: 20%;
    margin: 0.5vw;
    float: left;
}

label:hover {
    cursor: help;
    background-color: gainsboro;
    z-index: 2;
    transform: scale(1.1);
    transition-duration: 200ms
}
.info:hover{
    cursor: ns-resize;
    background-color: gainsboro;
    transition-duration: 200ms
}
#holder{
    clear: both;
}
#menu{
    text-align: center;
    display: inline-block;
    margin: 0.5vw 0;
}


@media all and (max-width:890px){

#forma{
    font-size: 1.4vw;
    }
    #main{
        margin: 1.5vh 0 0 0;
        clear: both;
        font-size: 1.9vw;
    }
    #title{
        font-size: 2vw;
    }  
    #myinput{
        height: 2.5vw;
    }
    #infoinput{
        height: 2.5vw;
    }
    textarea{
        height: 8.5vw;
        width: 25%;
    
    }   
}

@media all and (max-width:759px){

    #forma{
    background-color: azure;
    font-size: 1.4vw;
    font-family: 'Playfair Display', serif;
    padding: 5px;
    flex-basis: 41%;
        }
        
.buttoncontainer {
    display: flex;
    flex-flow: column;
    width: 100%;

}
#menu{
    font-size:2.5vw; 
    display: block;
}
.infodiv{
    display: block;
    font-size: 2vw;
}
#myExel{
    display: flex;
}
#main{
    margin: 1.5vh 0 0 0;
    clear: both;
    font-size: 2.5vw;
    flex-basis: 56%;            
}
#title{
    font-size: 2.8vw;
}  
#myinput{
    height: 3vw;
    width: 100%;
    font-size: 3vw;
    margin: 0.5vw 0vw;
}
#infoinput{
    height: 3vw;
    width: 100%;
    font-size: 3vw;
    margin: 0.5vw 0vw;
}
textarea{
    height: 10vw;
    width: 100%;
    margin: 0.5vw 0vw;
}
.title{
    width: 3vw;
    margin: 0;
    top: 2px;
    position: relative;
}
.flag{
    width: 3vw;
    margin: 0;
    top: 4px;
    position: relative;
}         
}